.table-stats tr>th,
.table-stats tr>td {
    border: none !important;
}
.table-monthly {
    font-size: 0.9em;
}
.table-monthly th {
    text-align: center;
}

.table-monthly td {
    white-space: nowrap;
}
