<!doctype  html>
<html lang="en" ng-app="buaychiaApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Singapore Car Ownership Annual Cost Calculator :: Buay Chia</title>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script src="controllers.js"></script>
</head>

<body ng-controller="ChiaCtrl">
    <h1>Buay Chia</h1>

    <p>Only valid if the chia you want to buay:</p>
    <ul>
        <li>is a Singapore-registered chia,</li>
        <li>is a PARF chia,</li>
        <li>is a petrol chia,</li>
        <li>is a less-than-10-year-old chia.</li>
    </ul>

    <h2>Enter stats</h2>
    <table>
        <tr ng-repeat="stat in stats">
            <th>{{stat.label}}</th>
            <td>{{stat.pre}} <input type="{{stat.type}}" ng-model="data[stat.model]"> {{stat.post}}</td>
        </tr>
    </table>

    <h2>Moment of truth</h2>

    <table>
        <tr>
            <th>ARF</td>
            <td>{{arf() | currency}}</td>
        </tr>
        <tr>
            <th>Road tax</td>
            <td>{{roadTax() | currency}} / year</td>
        </tr>
        <tr>
            <th>Age at purchase</td>
            <td>seconds</td>
        </tr>
    </table>

    <h4>Annual cost</h4>
    <p>Depending when you are deregistering off your chia</p>

    <table>
        <tr ng-repeat="month in months()">
            <td>{{month.time | date:'yyyy'}}</td>
            <td>{{month.time | date:'MMMM'}}</td>
        </tr>
    </table>

</body>
</html>
